div(class="cato", id=test.test_name + "_slider", style="width:975px")
	img(src=test.ref_shot, id=test.test_name + '_img_ref')
	img(src=test.test_shot, id=test.test_name + '_img_test')
	input(type="range")
	<output></output>
	span